metrics:
  host: 0.0.0.0
  port: 8086
  user: root
  password: root
  db: ethmetrics

logs:
  location: /var/log
  file_name: metrics_runner

pid_file:
  location: /var/log
  file_name: metrics_collector.pid
